version: '3.8'

services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 111
      POSTGRES_DB: coredb
    ports:
      - "6666:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  core-service:
    build:
      context: ./core-service
      dockerfile: Dockerfile
    ports:
      - "8181:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/coredb
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: 111
    depends_on:
      - postgres

  api-gateway:
    build:
      context: ./api-gateway
      dockerfile: Dockerfile
    ports:
      - "8088:8080"
    depends_on:
      - core-service

volumes:
  postgres_data:
